 <%= PAGE POTIN %><br/>
 <%= Voici la page du potin n° %> <% x %> 
 
 <p>
 <%= Son auteur : %> <% author %><br/>
 <%= Le contenu du potin : %> <% content %>
 </p>
 <%= Lien pour revenir à la page des potins %>


